@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Manrope:wght@700;800&display=swap');
@import "tailwindcss";
@theme {
    --font-inter: "Inter",sans-serif;
    --font-manrope: "Manrope", sans-serif;
}

/* Menghilangkan scrollbar untuk elemen dengan class no-scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* Standar IE dan Edge */
  scrollbar-width: none;  /* Standar Firefox */
}